nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    opacity: .8;
    list-style-type: none;
}
nav li{
    margin-right: 50px;
}
nav li a{
    color: #f5f5f7;
    text-decoration: none;
    font-size: 12px;
    line-height: 3.66667;
    font-weight: 400;
    letter-spacing: -.01em;
}
nav .apple,
nav .search{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f7;
    font-size: 18px;
    width: 50px;
    height: 50px;
    opacity: .8;
}
nav li:nth-child(13){
    border: 1px solid #f5f5f7;
    width: 15px;
    height: 15px;
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* position: fixed;
    top: 40px; */
    border-bottom: 1px solid gray;
    flex-grow: 1;
    background-color: #fff;
    opacity: .7;
}
:target{
    padding-top: 60px;
    margin-top: -60px;
}
.header a{
    padding-left: 300px;
    font-size: 21px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
#headerprice{
    padding-top: 16px;
    font-size: 17px;
    letter-spacing: -.022em;
    font-weight: 600;
    color: #1d1d1f;
}

.main{
    margin-top: 100px; 
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.menu{
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    align-items: center;
}
.menu h1{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}
.menu .title{
    text-align: left;
    font-size: 17px;
    font-weight: 600;
}
.menu img{
    width: 17%;
}
.menu button{
    margin: 10px;
    margin-top: 0;
    padding: 14px 14px 14px 14px;
    border-width: 2px;
    border-radius: 12px;
    text-align: center;
    background-color: #fff;
    color: #1d1d1f;
    font-weight: 600;
    user-select: none;
}
.menu button:hover{
    opacity: .7;
    border: 2px solid blue;
}
.menu button:focus{
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.menu   button p{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
}
.storage button{
    font-size: 29px;
}
.network button{
    font-size: 17px;
}

.total{
    width: 86%;
    height: 150px;
    padding: 25px;
    margin-left: 15px;
    background-color: #efefef;
}
#totalprice{
    color: #1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
}